<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegServlet</servlet-name>
        <servlet-class>RegServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlanningServlet</servlet-name>
        <servlet-class>PlanningServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Planning1Servlet</servlet-name>
        <servlet-class>Planning1Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Planning2servlet</servlet-name>
        <servlet-class>Planning2servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Planning3Servlet</servlet-name>
        <servlet-class>Planning3Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WorkScheduleServlet</servlet-name>
        <servlet-class>WorkScheduleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatusServlet</servlet-name>
        <servlet-class>StatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClientViewServlet</servlet-name>
        <servlet-class>ClientViewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegSuccessServlet</servlet-name>
        <servlet-class>RegSuccessServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FinalCheckS</servlet-name>
        <servlet-class>FinalCheckS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateServlet</servlet-name>
        <servlet-class>Update.UpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update</servlet-name>
        <servlet-class>Update</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StProdServlet</servlet-name>
        <servlet-class>StProdServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TrigServlet</servlet-name>
        <servlet-class>TrigServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>houseServlet</servlet-name>
        <servlet-class>houseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegServlet</servlet-name>
        <url-pattern>/RegServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlanningServlet</servlet-name>
        <url-pattern>/PlanningServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Planning1Servlet</servlet-name>
        <url-pattern>/Planning1Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Planning2servlet</servlet-name>
        <url-pattern>/Planning2servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Planning3Servlet</servlet-name>
        <url-pattern>/Planning3Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WorkScheduleServlet</servlet-name>
        <url-pattern>/WorkScheduleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatusServlet</servlet-name>
        <url-pattern>/StatusServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientViewServlet</servlet-name>
        <url-pattern>/ClientViewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegSuccessServlet</servlet-name>
        <url-pattern>/RegSuccessServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FinalCheckS</servlet-name>
        <url-pattern>/FinalCheckS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateServlet</servlet-name>
        <url-pattern>/UpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update</servlet-name>
        <url-pattern>/Update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StProdServlet</servlet-name>
        <url-pattern>/StProdServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TrigServlet</servlet-name>
        <url-pattern>/TrigServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>houseServlet</servlet-name>
        <url-pattern>/houseServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
